.form {
  margin-left: 156px;
}
.delay-label {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
}
.input-delay {
  margin-top: 8px;
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  padding-left: 16px;
}
.input-delay:hover,
.input-delay:focus {
  border: 1px solid #000000;
}
.fieldset-cont {
  margin-top: 16px;
  margin-bottom: 24px;
  width: 360px;
  height: 64px;
  border-radius: 4px;
  border: 1px solid #808080;
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: center;
  justify-content: center;
}
.fieldset-cont:hover,
.fieldset-cont:focus {
  border: 1px solid #000000;
}
.label-legend {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
}
.fieldset-label {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  display: flex;
  flex-direction: row;
}
.radio-input {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.submit-btn {
  width: 360px;
  height: 40px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 8px;
  border: none;
  background-color: #4e75ff;

  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
}
.submit-btn:hover,
.submit-btn:focus {
  background-color: #6c8cff;
}
